<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <!--工厂配置-->
    <bean id="factoryBean" class="com.gmail.italkingtan.create.factory.FileFactory"/>
    <bean id="skinFactory" class="com.gmail.italkingtan.create.abstractfactory.SpringSkinFactory"/>
    <!--建造者模式-->
    <bean id="builder" class="com.gmail.italkingtan.create.builder.HeroBuilder"/>
    <!--桥接模式-->
    <bean id="bridgeImage" class="com.gmail.italkingtan.structure.bridge.JPGImage"/>
    <bean id="brideImageImpl" class="com.gmail.italkingtan.structure.bridge.WindowsImageImpl"/>
</beans>